# requirements.txt

aiohappyeyeballs==2.4.0
aiohttp==3.10.6
aiosignal==1.3.1
appdirs==1.4.4
argcomplete==3.5.0
async-timeout==4.0.3
asyncgui==0.6.0
asyncio==3.4.3
asynckivy==0.6.0
attrs==24.2.0
bcrypt==4.2.0
build==1.2.2
buildozer==1.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
Cython==3.0.11
distlib==0.3.8
docutils==0.21.2
exceptiongroup==1.2.2
filelock==3.16.1
frozenlist==1.4.1
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
Jinja2==3.1.4
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip#sha256=ab18d4cc36e2d53ea87f463d01299c39c75bae66cc1950f9bc6397f23317c848
kivymd-extensions.filemanager==0.1.5
kivymd_extensions.title_bar @ https://github.com/kivymd-extensions/title_bar/archive/master.zip#sha256=2bfcfcfa72e05427d85f1e7bd8dbdfaee556d9d1774f8152d6b640f221b51d56
MarkupSafe==2.1.5
materialyoucolor==2.0.9
multidict==6.1.0
packaging==24.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.6
psycopg2-binary==2.9.9
ptyprocess==0.7.0
Pygments==2.18.0
pypng==0.20220715.0
pyproject_hooks==1.2.0
python-barcode==0.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-escpos==3.1
pytz==2024.2
pyusb==1.2.1
PyYAML==6.0.2
qrcode==8.0
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.36
toml==0.10.2
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.26.5
yarl==1.12.1
zipp==3.20.2
